@font-face {
	font-family: 'iconos';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}





body
	background-image url('../images/sos.png')

footer
	
	#twitter
		&:after
			content "\e602"
			font-family iconos
	#facebook
		&:after
			content "\e603"
			font-family iconos
			color blue
	#gplus
		&:after
			content "\e604"
			font-family iconos
			color red


#social
	li
		display inline-block

	
	#face
		&:before
			content "\e603"
			font-family iconos
			color white
			position relative
			right 30px
		&:hover
			color blue
			background-color rgba(0, 0, 0, 0)
		
	#gp
		&:before
			content "\e604"
			font-family iconos
			color white
			position relative
			right 30px
		&:hover
			color blue
			background-color rgba(0, 0, 0, 0)
	#tw
		&:after
			content "\e602"
			font-family iconos
			color white
			position relative
			right 30px
		&:hover
			color blue
			background-color rgba(0, 0, 0, 0)
			


#email
	height 150px
	position relative
	width 100%
	top -45px
	left 15px
	text-align center
	p
		font-size 20px
		position relative
		top 10px
	input
		width 200px
		position relative
		right 60px
	#registro
		display inline-block
		padding 0.5em
		position relative
		left 50px
		#registrarse
			position relative
			top 10px
		#alertReg
			position absolute
			top 100px
			right 20px
			width 300px
			

#containerMedio
	background-image url('../images/purty_wood.png')
	color black
	border-radius 5px
	
	img
		height 120px
		width 120px
		position relative
		top 10px
		&:hover
			height 150px
			width 150px
.ultimo
	background-image url('../images/crisp_paper_ruffles.png')
	img
		height 400px
		width 600px
		border-radius 5px
	

#platos_recetas_sopas
	img
		height 120px
		width 120px
	h2
		font-size 20px


#twitter
	&:after
		content "\e602"
		font-family iconos
		font-size 20px
#facebook
	&:after
		content "\e603"
		font-family iconos
		color blue
		font-size 20px
#gplus
	&:after
		content "\e604"
		font-family iconos
		color red
		font-size 20px


// ESTILOS DE recetas.html



#selectP
	background-color: rgba(255, 89, 0, 0.8);
	color white

.img-thumbnail
	width 220px
	height 150px

#tipo
	float right
	background-color: rgba(255, 89, 0, 0.8);
	padding 0.2em

#imgPlato
	img
		width 400px
		height 250px



//Estilos Menú
#menu
	background rgba(255, 255, 255, 0.7);
	width 60%
	position relative
	left 250px
	border-radius 5px
	border 2px solid black

#imgMenu
	width 300px
	height 180px



@media screen and (max-width: 768px)

	#menu
		width 100%
		left 0px